[submodule "api"]
	path = api
	url = https://github.com/cantodaruaemergencial/api/
[submodule "app"]
	path = app
	url = https://github.com/cantodaruaemergencial/app/
[submodule "infra"]
	path = infra
	url = https://github.com/cantodaruaemergencial/infra/
